.header{
  background: rgb(255,69,0);
  background: linear-gradient(90deg, rgba(255,69,0,1) 0%, rgba(137,14,10,1) 69%, rgba(139,0,139,1) 100%);
}

.header div a{
  color: #ffffff;
}

.my_active {

  background: rgba(255, 255, 255, 0.2);
  transition: background-color  1s;
}
