<nav class="navbar navbar-default header">
  <div class="container-fluid">
    <div class="navbar-header">
      <a routerLink="/trainings" class="navbar-brand">My Training Tracker</a>
    </div>
    <ul class="nav navbar-nav navbar-left">
      <li routerLinkActive="my_active"  *ngIf="isAuthenticated"><a routerLink="/trainings">Trainings</a></li>
      <li routerLinkActive="my_active"  *ngIf="isAuthenticated"><a routerLink="/add-training" >Add Training</a></li></ul>
    <ul class="nav navbar-nav navbar-right">
      <li routerLinkActive="my_active"  *ngIf="!isAuthenticated"><a routerLink="/auth">Authenticate</a></li>
      <li routerLinkActive="my_active" *ngIf="isAuthenticated" (click)="onLogout()"><a>Logout</a></li>
    </ul>
    </div>
</nav>
